In [47]:
### import pandas, numpy libraries
import pandas as pd
import numpy as np

## Import Visualization libraries
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

## import pio for default renderer
import plotly.io as pio

## Import subplots for visualization
from plotly.subplots import make_subplots
import plotly.subplots as sp

## Import Date and time
from datetime import datetime

#import altair as alt

## Import warnings libraries
import warnings
warnings.filterwarnings("ignore")

### setting deault renderers value
pio.renderers.default = 'iframe_connected'

### Step 1: Data Introduction

In [48]:
#pd.read_csv("/kaggle/input/nfl-big-data-bowl-2025/players.csv")
player_df = pd.read_csv("/Users/swethag/Desktop/Data Science Love!/Kaggle/NFL Big Data Bowl 2025/nfl-big-data-bowl-2025/players.csv")

### Step 2: Data Understanding

In [49]:
### birthDate and height fields are Object Datatype, we need to change the Data type accordingly. in 

player_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nflId        1697 non-null   int64
 1   height       1697 non-null   object
 2   weight       1697 non-null   int64
 3   birthDate    1210 non-null   object
 4   collegeName  1697 non-null   object
 5   position     1697 non-null   object
 6   displayName  1697 non-null   object
dtypes: int64(2), object(5)
memory usage: 92.9+ KB

In [50]:
### First 5 rows in DataFrame

player_df.head()

   nflId height  weight   birthDate     collegeName position     displayName
0  25511    6-4     225  1977-08-03        Michigan       QB       Tom Brady
1  29550    6-4     328  1982-01-22        Arkansas        T    Jason Peters
2  29851    6-2     225  1983-12-02      California       QB   Aaron Rodgers
3  30842    6-6     267  1984-05-19            UCLA       TE  Marcedes Lewis
4  33084    6-4     217  1985-05-17  Boston College       QB       Matt Ryan

In [51]:
### Shape of DataFrame

player_df.shape

(1697, 7)

In [52]:
### Understanding the statistics of numerical variable

player_df.describe()

              nflId       weight
count   1697.000000  1697.000000
mean   48237.157336   245.774308
std     5230.066814    47.256005
min    25511.000000   153.000000
25%    44830.000000   205.000000
50%    47874.000000   236.000000
75%    53476.000000   291.000000
max    55241.000000   380.000000

In [53]:
### Finding the missing percentage in data set

player_df.isna().sum()

### Only "birthDate" column has 487 missing values out of 1697 records

nflId            0
height           0
weight           0
birthDate      487
collegeName      0
position         0
displayName      0
dtype: int64

In [54]:
### Check if Duplciates recordas are present

player_df.duplicated().sum()

### No duplicates present

0

In [55]:
### Listing out all column names

player_df.columns.tolist()

['nflId',
 'height',
 'weight',
 'birthDate',
 'collegeName',
 'position',
 'displayName']

In [56]:
### number of Uniques values in players_df

player_df.nunique()

nflId          1697
height           16
weight          179
birthDate       989
collegeName     225
position         19
displayName    1687
dtype: int64

In [57]:
### Uniques values in players_df

for i in player_df.columns:
    print(i,":",player_df[i].unique())
    print("\n", "-"*90)

nflId : [25511 29550 29851 ... 55239 55240 55241]

 ------------------------------------------------------------------------------------------
height : ['6-4' '6-2' '6-6' '5-10' '6-8' '6-3' '6-0' '6-5' '6-1' '5-9' '5-11' '5-8'
 '6-7' '6-9' '5-6' '5-7']

 ------------------------------------------------------------------------------------------
weight : [225 328 267 217 245 315 175 300 222 205 220 229 215 320 304 265 275 185
 195 254 325 285 335 330 250 210 203 288 257 287 295 192 270 199 235 260
 207 202 310 305 247 214 242 233 279 248 243 352 308 321 198 200 212 174
 317 311 238 190 221 193 340 255 211 179 327 307 281 240 263 197 230 191
 309 178 269 231 280 194 312 183 252 196 336 301 350 322 256 290 208 332
 232 306 224 302 216 316 292 313 218 338 341 182 236 318 177 272 227 323
 298 380 234 184 209 180 188 299 223 237 228 314 244 201 246 296 303 261
 291 324 347 189 294 213 259 181 253 289 264 266 204 284 297 226 173 258
 345 329 251 206 277 331 344 187 219 239 262 342 249 170 176 326 366 334
 319 241 268 172 333 186 153 165 273 278 346 274 293 355 282 360 379]

 ------------------------------------------------------------------------------------------
birthDate : ['1977-08-03' '1982-01-22' '1983-12-02' '1984-05-19' '1985-05-17'
 '1985-01-16' '1985-08-30' '1986-12-01' '1986-09-01' '1985-07-02'
 '1985-09-09' '1988-02-07' '1986-10-07' '1985-10-13' '1988-07-19'
 '1987-05-12' '1988-04-03' '1989-01-01' '1988-04-10' '1987-08-13'
 '1988-08-13' '1988-06-06' '1989-02-28' '1988-06-08' '1987-03-25'
 '1985-10-27' '1989-03-26' '1988-07-31' '1990-07-11' '1989-02-08'
 '1989-03-22' '1990-05-18' '1989-07-10' '1989-12-21' '1989-05-06'
 '1987-10-29' '1989-11-09' '1989-07-12' '1990-08-22' '1989-01-21'
 '1988-05-06' '1989-08-03' '1987-11-05' '1990-03-17' '1989-06-18'
 '1989-08-24' '1989-05-12' '1987-09-06' '1988-07-27' '1990-09-19'
 '1990-12-13' '1990-12-21' '1987-11-01' '1989-04-26' '1990-02-27'
 '1988-12-01' '1990-03-08' '1989-02-02' '1990-06-27' '1990-01-23'
 '1988-06-30' '1989-09-09' '1988-11-29' '1989-01-11' '1989-01-20'
 '1989-11-16' '1989-07-02' '1988-08-19' '1990-01-16' '1990-03-12'
 '1990-06-17' '1989-06-08' '1990-06-23' '1990-08-07' '1988-02-17'
 '1990-01-26' '1991-04-13' '1990-02-26' '1990-04-02' '1990-05-08'
 '1990-08-15' '1992-06-06' '1991-03-17' '1990-11-10' '1991-01-01'
 '1990-10-10' '1992-04-10' '1992-03-30' '1991-05-05' '1989-10-20'
 '1989-10-05' '1992-05-13' '1991-07-23' '1992-04-27' '1990-11-19'
 '1989-07-11' '1991-02-09' '1991-01-24' '1991-11-29' '1991-09-30'
 '1991-07-31' '1991-04-23' '1991-06-05' '1990-09-16' '1991-07-30'
 '1990-12-31' '1990-08-24' '1990-01-18' '1990-07-02' '1990-01-11'
 '1991-04-25' '1990-02-21' '1991-04-20' '1991-07-02' '1992-01-17'
 '1992-01-27' '1989-06-05' '1993-02-14' '1993-06-14' '1991-02-22'
 '1992-02-11' '1993-08-21' '1992-03-18' '1991-07-22' '1991-05-23'
 '1992-02-16' '1990-11-20' '1992-06-19' '1992-06-03' '1993-09-25'
 '1991-07-18' '1992-05-01' '1992-11-10' '1992-04-28' '1991-10-11'
 '1991-03-28' '1991-03-26' '1990-11-27' '1993-01-17' '1992-12-24'
 '1993-08-24' '1991-11-02' '1992-11-28' '1991-05-29' '1991-03-03'
 '1991-10-17' '1992-08-31' '1991-07-12' '1990-11-15' '1992-05-03'
 '1992-01-22' '1990-12-27' '1991-12-27' '1991-07-01' '1991-12-01'
 '1991-10-07' '1992-09-03' '1991-07-27' '1991-06-24' '1991-08-11'
 '1991-10-09' '1992-05-17' '1992-10-17' '1990-03-05' '1991-12-17'
 '1991-05-09' '1991-05-06' '1992-05-31' '1991-02-14' '1991-07-08'
 '1992-04-03' '1991-05-02' '1992-04-08' '1992-11-17' '1991-10-25'
 '1991-02-18' '1992-07-07' '1990-07-15' '1991-07-03' '1992-03-28'
 '1992-04-13' '1994-01-06' '1993-10-30' '1994-08-03' '1994-06-17'
 '1991-12-26' '1994-06-20' '1992-06-25' '1993-11-04' '1993-01-20'
 '1993-04-13' '1993-11-15' '1993-01-09' '1992-08-23' '1993-05-24'
 '1992-04-25' '1993-02-12' '1993-12-28' '1994-04-21' '1993-09-10'
 '1992-02-09' '1993-01-05' '1994-01-10' '1993-06-23' '1994-01-25'
 '1992-02-29' '1992-10-03' '1992-12-05' '1992-04-21' '1994-01-02'
 '1992-09-21' '1993-06-13' '1994-04-12' '1991-03-13' '1992-11-23'
 '1991-10-03' '1992-09-28' '1993-04-16' '1992-10-25' '1993-06-01'
 '1992-06-27' '1992-10-15' '1994-10-29' '1992-03-02' '1991-08-03'
 '1993-01-22' '1992-11-14' '1993-08-16' '1993-06-17' '1992-09-08'
 '1993-02-19' '1993-05-28' '1992-02-10' '1993-08-28' '1991-11-09'
 '1993-04-28' '1993-04-29' '1992-03-24' '1993-08-18' '1993-11-29'
 '1993-01-14' '1994-06-04' '1992-02-01' '1993-08-08' '1993-02-17'
 '1992-09-13' '03/10/1992' '1993-10-16' '1993-07-03' '1994-08-21'
 '1993-09-16' '1993-07-26' '1992-04-09' '1992-04-22' '1993-04-06'
 '1993-04-10' '1991-08-29' '1992-02-17' '1992-12-29' '1993-03-27'
 '03/15/1993' '1993-05-15' '1992-07-10' '1993-01-27' '1992-07-25'
 '1993-12-07' '1991-10-23' '1992-04-23' '1994-10-14' '1992-12-30'
 '1995-07-11' '1995-07-22' '1994-10-24' '1994-03-18' '1994-03-17'
 '1994-08-17' '1995-08-09' '1994-04-02' '1994-08-02' '1993-08-23'
 '1995-07-26' '1993-05-30' '1992-10-27' '1995-05-01' '1995-10-04'
 '1993-11-06' '1995-06-14' '1994-12-07' '1995-09-03' '1994-07-03'
 '1993-07-04' '1993-02-10' '1994-05-08' '1994-05-11' '1994-01-04'
 '1995-03-21' '1993-03-03' '1992-12-16' '1994-11-04' '1994-11-15'
 '1992-07-11' '1994-12-12' '1993-08-04' '1992-09-23' '1993-08-17'
 '1993-04-12' '1995-04-08' '1995-03-31' '1993-10-22' '1994-01-26'
 '1995-02-22' '1992-11-18' '1993-10-29' '1995-02-13' '1993-08-20'
 '1993-02-07' '1992-12-11' '1993-03-06' '1992-08-19' '1993-11-19'
 '1994-01-07' '1993-06-16' '1993-01-01' '1993-05-10' '1993-07-01'
 '1994-11-02' '1992-11-13' '1995-03-06' '1993-08-14' '1994-09-21'
 '1994-01-09' '1993-07-29' '1994-06-09' '1993-04-27' '1992-08-15'
 '1993-03-31' '1994-01-11' '1993-03-11' '1994-02-02' '1992-02-06'
 '1994-03-01' '1994-07-01' '1994-10-07' '1993-12-15' '1993-09-11'
 '1992-11-07' '1992-09-05' '1994-08-16' '1993-04-23' '1994-05-16'
 '1994-04-22' '1994-07-29' '1993-03-15' '1994-04-06' '1994-04-24'
 '1994-02-11' '1993-06-02' '1992-06-16' '1994-08-08' '1992-07-19'
 '1992-07-15' '1994-03-09' '1992-11-06' '1993-09-20' '1993-08-15'
 '1992-10-28' '1993-07-23' '1994-09-12' '1993-11-18' '1993-05-09'
 '1992-09-10' '1993-01-30' '1993-01-03' '1993-07-22' '1993-01-24'
 '1994-08-05' '1993-07-30' '1993-02-22' '1993-09-19' '1995-12-29'
 '1994-08-20' '1995-08-26' '1995-01-18' '1995-01-11' '1995-10-17'
 '1994-10-04' '1996-06-07' '1995-09-17' '1996-05-20' '1994-09-22'
 '1996-06-25' '1996-04-02' '1996-07-08' '1995-01-16' '1995-09-18'
 '1994-11-18' '1992-05-27' '1994-09-02' '1995-11-02' '1996-07-10'
 '1994-10-11' '1995-10-09' '1996-01-10' '1995-03-30' '1993-03-09'
 '1996-08-11' '1995-08-10' '1996-09-08' '1996-05-21' '1994-06-25'
 '1996-08-16' '1995-05-23' '1996-07-24' '1994-08-12' '1994-09-30'
 '1995-11-17' '1994-02-28' '1994-12-02' '1995-08-05' '1994-06-14'
 '1995-05-24' '1994-09-20' '1996-11-22' '1994-04-26' '1994-06-03'
 '1995-07-25' '1995-03-02' '1993-06-15' '1994-07-06' '1993-08-25'
 '1994-08-09' '1994-04-09' '1996-02-27' '1995-08-06' '1996-04-24'
 '1995-07-20' '1995-12-19' '1995-08-31' '1995-07-24' '1995-02-27'
 '1993-11-03' '1995-08-29' '1995-08-22' '1994-12-05' '1993-11-16'
 '1995-05-05' '1994-07-12' '1993-12-10' '1995-09-16' '1995-06-29'
 '1995-02-16' '1995-01-31' '1995-05-09' '1994-07-26' '1995-04-03'
 '1995-03-28' '1993-12-05' '1993-10-20' '1993-10-09' '1994-12-14'
 '1995-02-26' '1994-12-13' '1995-08-08' '1994-07-28' '1995-04-09'
 '1994-05-01' '1994-04-30' '1994-11-11' '1995-04-19' '1994-05-17'
 '1994-12-16' '1995-01-19' '1994-11-01' '1992-10-19' '1994-04-08'
 '1995-04-22' '1996-02-08' '1996-01-06' '1994-03-04' '1993-11-01'
 '1994-01-27' '1994-11-23' '1994-12-18' '1995-08-04' '1995-02-28'
 '1995-02-18' '1994-09-26' '1995-09-05' '1994-05-02' '1990-08-23'
 '1994-05-27' '1995-08-23' '1994-05-04' '1995-07-10' '1995-02-19'
 '1995-08-14' '1993-07-13' '12/18/1994' '1994-02-21' '1993-11-21'
 '1995-02-10' '1993-04-20' '1995-01-06' '1995-05-17' '1994-05-19'
 '1994-08-19' '1995-03-15' '1994-08-28' '1995-04-14' '1997-02-09'
 '1997-04-28' '1996-06-24' '1996-03-19' '1997-04-08' '1995-01-12'
 '1996-11-17' '1995-02-05' '1997-05-27' '1996-09-04' '1998-05-02'
 '1996-08-03' '1996-05-17' '1995-11-08' '1995-12-09' '1997-04-14'
 '1996-02-02' '1997-01-20' '1996-03-11' '1997-02-11' '1995-02-17'
 '1997-01-07' '1995-09-02' '1995-12-27' '1995-07-27' '1996-03-25'
 '1997-09-13' '1995-10-10' '1995-10-03' '1995-10-23' '1996-04-03'
 '1996-11-18' '1996-12-28' '1995-01-03' '1997-05-12' '1997-02-26'
 '1996-09-30' '1996-09-23' '1995-09-15' '1996-12-31' '1995-01-30'
 '1995-12-10' '1997-02-15' '1995-04-20' '1996-11-19' '1996-12-25'
 '1996-09-10' '1996-05-09' '1997-05-15' '1996-03-04' '1995-02-01'
 '1996-05-02' '1996-08-28' '1995-09-06' '1996-05-03' '1995-06-19'
 '1994-07-22' '1996-01-07' '1997-08-08' '1997-04-18' '1995-01-27'
 '1996-01-25' '1996-03-28' '1992-04-19' '1996-02-20' '1996-06-06'
 '1997-01-14' '1996-11-12' '1994-12-25' '1995-10-11' '1995-11-14'
 '1997-06-10' '1997-03-18' '1994-11-30' '1996-03-24' '1996-07-27'
 '1996-03-31' '1996-05-08' '1997-03-29' '1996-04-13' '1996-09-26'
 '1993-12-16' '1996-07-11' '1996-11-11' '1996-08-24' '1996-04-04'
 '1996-09-14' '1995-06-02' '1995-04-26' '1994-08-04' '1995-03-23'
 '1995-07-30' '1995-04-24' '1997-07-11' '1994-11-21' '1994-07-18'
 '1994-10-10' '1995-03-04' '1995-12-11' '1996-10-15' '1997-04-21'
 '1996-01-22' '1995-08-02' '1995-04-27' '1995-03-10' '1995-09-22'
 '1995-10-06' '1995-06-23' '1994-11-24' '1995-12-12' '1994-09-11'
 '1997-03-31' '1996-07-02' '1995-09-07' '1996-04-17' '1996-04-22'
 '1995-01-26' '1994-10-23' '1994-07-24' '1995-07-28' '1995-11-16'
 '1996-01-18' '1994-09-01' '1996-01-31' '1995-04-13' '1997-09-12'
 '1995-11-19' '08/24/1995' '1994-01-13' '1993-11-17' '1995-04-15'
 '1996-09-19' '1994-12-26' '1995-09-19' '1995-08-18' '1995-11-27'
 '1996-08-29' '1996-08-07' '1996-02-26' '1996-06-09' '1996-09-16'
 '1996-04-27' '1995-06-12' '02/20/1995' '1996-03-05' '1996-04-18'
 '1995-12-24' '1994-09-08' '1996-05-16' '1996-01-24' '1995-12-30'
 '1994-11-12' '1995-09-12' '1995-11-09' '1995-08-28' '1995-12-14'
 '1995-07-23' '1996-07-01' '1996-01-30' '1994-12-15' '1997-08-07'
 '1997-10-23' '1997-12-21' '1997-05-17' '1998-02-17' '1997-07-13'
 '1997-07-03' '1997-12-12' '1998-07-18' '1997-11-17' '1997-12-03'
 '1995-12-20' '1997-02-08' '1998-04-23' '1997-11-12' '1995-06-20'
 '1997-07-28' '1997-11-20' '1997-07-30' '1996-05-23' '1998-02-11'
 '1997-06-04' '1996-10-25' '1996-10-08' '1997-12-17' '1998-01-18'
 '1997-11-25' '1996-01-15' '1997-11-04' '1997-06-19' '1997-09-20'
 '1995-07-13' '1996-09-28' '1995-12-26' '1997-07-18' '1997-08-27'
 '1996-01-19' '1998-08-09' '1997-06-30' '1996-04-16' '1997-05-01'
 '1995-11-04' '1996-08-10' '1998-03-12' '1998-03-25' '1997-07-16'
 '1997-05-31' '1997-12-22' '1995-10-19' '1997-12-14' '1997-08-20'
 '1996-07-05' '1997-03-21' '1997-08-19' '1997-01-05' '1997-06-07'
 '1997-09-03' '1998-02-06' '1995-06-08' '1998-01-12' '1996-08-09'
 '1996-11-13' '1996-07-29' '1997-11-03' '1996-09-05' '1996-10-12'
 '1996-12-07' '1996-11-14' '1997-03-24' '1996-05-18' '1996-02-21'
 '1998-06-19' '1997-12-20' '1997-08-22' '1997-03-04' '1998-03-19'
 '1997-11-14' '1998-06-14' '1996-08-20' '1996-10-29' '1997-04-30'
 '1995-08-15' '1997-05-16' '1996-08-08' '1996-05-06' '1995-11-22'
 '1997-05-06' '1996-02-09' '1997-05-25' '1995-12-21' '1995-07-01'
 '1998-02-14' '1996-05-10' '1997-01-10' '1995-06-01' '1997-03-20'
 '1997-01-12' '1996-07-30' '1995-11-13' '1997-09-17' '1996-07-22'
 '1996-01-27' '1997-02-14' '1997-02-17' '1998-08-07' '1997-07-31'
 '1995-02-21' '1996-04-21' '1996-09-12' '1997-04-04' '1995-06-10'
 '1996-05-05' '1997-06-05' '1996-08-05' '1996-07-09' '1996-05-15'
 '1996-11-09' '1997-03-01' '1996-10-24' '1995-09-08' '1996-08-13'
 '1996-08-04' '1996-01-02' '1995-10-20' '1997-08-13' '1997-05-02'
 '1997-06-22' '1996-01-17' '1997-08-04' '1996-10-02' '1996-10-09'
 '1997-07-23' '1997-12-04' '1997-02-12' '1995-12-15' '1997-08-16'
 '1996-11-24' '1996-11-04' '1998-06-25' '1996-01-11' '1997-04-13'
 '1996-05-29' '1997-11-05' '1996-12-05' '1998-07-10' '1996-08-15'
 '1996-08-12' '1996-09-01' '1996-09-07' '1996-12-18' '1998-04-19'
 '01/16/1996' '1996-01-08' '1998-05-29' '1995-12-07' '1997-02-27'
 '1996-06-15' '1995-05-26' '1995-11-10' '1997-05-09' '1994-09-13'
 '1997-06-21' '1996-11-26' nan '1996-12-10' '1999-02-02' '1999-01-22'
 '1998-03-02' '1998-03-10' '1998-04-15' '1998-07-26' '1998-09-30'
 '1999-05-17' '1999-01-24' '1997-10-03' '1999-04-24' '1998-09-23'
 '1999-04-08' '1999-08-11' '1999-07-25' '1999-01-02' '1998-11-16'
 '1999-06-14' '1998-03-17' '1998-11-02' '1997-10-21' '1999-08-13'
 '1999-11-27' '1999-04-11' '1999-01-18' '1997-10-05' '1999-01-14'
 '1998-08-08' '1996-03-22' '1998-02-26' '1996-08-25' '1998-07-09'
 '1999-01-19' '1998-10-05' '1999-03-10' '1998-09-20' '1998-08-16'
 '1999-07-08' '1998-07-07' '1999-04-19' '1999-06-22' '1998-09-15'
 '1998-12-17' '1996-07-26' '1998-05-08' '1997-10-10' '1998-09-18'
 '1998-09-03' '1998-02-15' '1998-06-23' '1997-12-27' '1996-10-10'
 '1998-04-02' '1997-02-01' '1996-12-30' '1997-02-05' '1997-05-04'
 '1997-10-14' '1998-11-13' '1997-01-17' '1997-11-22' '1998-08-25'
 '1998-08-24' '1997-12-15' '1997-09-01' '1997-11-23' '1997-08-14'
 '1999-04-01' '1998-03-05' '1997-08-18' '1997-01-29' '1997-09-21'
 '1999-07-26' '1998-08-23' '1998-07-22' '1997-10-31' '1998-04-25'
 '1997-08-28' '1996-11-20' '1997-07-25' '1999-03-01' '1999-01-20'
 '1996-09-18' '1999-01-08' '1997-08-25' '1997-03-27' '1999-04-05'
 '1997-01-21' '1998-07-06' '1998-02-20' '1998-09-16' '1997-04-01'
 '1996-06-19' '1997-06-13' '1997-12-06' '1997-12-11' '1998-04-01'
 '1996-12-04' '1997-10-29' '1997-04-24' '1997-12-08' '1997-12-10'
 '1999-02-19' '1997-10-16' '1998-03-04' '1998-06-09' '1996-09-20'
 '1997-01-23' '1998-01-21' '1997-04-02' '1998-10-21' '1997-04-29'
 '1998-01-07' '1998-08-06' '1997-03-07' '1997-07-10' '1999-04-13'
 '1996-08-22' '1996-11-29' '1999-07-28' '1998-04-13' '1998-06-24'
 '1996-11-28' '1997-03-12' '1996-11-07' '1997-01-15' '1997-11-27'
 '1998-06-16' '1997-11-24' '1998-09-12' '1997-02-19' '1995-08-17'
 '1998-03-09' '1997-08-05' '1996-10-16' '1998-04-29' '1998-03-23'
 '1998-06-12' '1997-07-06' '1998-12-29' '1997-12-28' '1996-09-13'
 '1995-07-16' '1996-09-17' '1998-07-19' '1998-01-02' '1998-01-04'
 '1997-01-11' '1998-03-18' '1998-04-17' '1998-05-24' '1997-10-28'
 '1998-08-29' '1997-02-28' '1996-06-10' '1998-03-27']

 ------------------------------------------------------------------------------------------
collegeName : ['Michigan' 'Arkansas' 'California' 'UCLA' 'Boston College' 'Delaware'
 'Virginia Tech' 'Miami' 'Georgia' 'Missouri' 'Michigan State' 'Oklahoma'
 'South Florida' 'Alabama' 'Rutgers' 'Texas Christian' 'Indiana' 'Florida'
 'Kentucky' 'Louisiana State' 'Texas State' 'Texas A&amp;M' 'Wisconsin'
 'North Carolina' 'Ohio State' 'Notre Dame' 'Florida State' 'Cincinnati'
 'Arizona State' 'Kansas' 'Auburn' 'Central Michigan' 'Troy'
 'South Carolina' 'Mississippi State' 'West Virginia' 'Syracuse' 'Iowa'
 'Utah State' 'Nebraska' 'Marshall' 'Vanderbilt' 'Arkansas State'
 'Arizona' 'Regina, Can.' 'Purdue' 'Presbyterian' 'Southern Methodist'
 'Virginia' 'Stanford' 'Wyoming' 'Houston' 'Mississippi' 'Baylor'
 'Pennsylvania' 'California, Pa.' 'Clemson' 'Tennessee'
 'Southern California' 'Southern Mississippi' 'Arkansas-Pine Bluff'
 'Texas' 'Illinois' 'Colorado' 'Harvard' 'Buffalo' 'Iowa State'
 'San Jose State' 'Central Florida' 'Connecticut' 'Oregon State' 'Samford'
 'Minn. State-Mankato' 'Pittsburgh' 'Northern Illinois' 'Louisville'
 'Boise State' 'Nevada' 'Fresno State' 'Brigham Young' 'Georgia Tech'
 'Penn State' 'Eastern Illinois' 'North Dakota State' 'Georgia Southern'
 'Louisiana Tech' 'North Carolina State' 'Illinois State' 'Oregon'
 'Ball State' 'Kansas State' 'Colorado State-Pueblo'
 'South Carolina State' 'James Madison' 'Texas Tech' 'Colorado State'
 'Bloomsburg' 'Canisius' 'No College' 'Washington' 'Duke' 'Utah'
 'Minnesota' 'Southern Illinois' 'Memphis' 'Maryland'
 'Louisiana-Lafayette' 'Rice' 'Northwestern' 'Texas-El Paso'
 'Sacramento State' 'Wisconsin-Whitewater' 'Old Dominion' 'Montana State'
 'Toledo' 'Oklahoma State' 'Middle Tennessee' 'Western Kentucky'
 'Southern Utah' 'Manitoba, Can.' 'Grand Valley State' 'Temple'
 'West Alabama' 'William &amp; Mary' 'Holy Cross' 'Florida Atlantic'
 'Augustana, S.D.' 'Virginia Commonwealth' 'Western Michigan'
 'East Carolina' 'South Alabama' 'Villanova' 'North Carolina-Charlotte'
 'Eastern Washington' 'Ohio' 'Florida International' 'Albany State, Ga.'
 'San Diego' 'Drake' 'West Georgia' 'Chattanooga' 'Eastern Michigan'
 'San Diego State' 'Maine' 'Valdosta State' 'Greenville' 'Hawaii'
 'Massachusetts' 'Kentucky Wesleyan' 'Western State, Colo.'
 'Indiana State' 'Missouri State' 'Wisconsin-Platteville'
 'Washington State' 'Texas-San Antonio' 'South Dakota State' 'Wake Forest'
 'Fort Hays State' 'Humboldt State' 'Weber State' 'Fordham'
 'Stephen F. Austin' 'Jacksonville State' 'Yale' 'Appalachian State'
 'Ferris State' 'Western Carolina' 'Southern U.' 'Central Arkansas'
 'North Texas' 'Youngstown State' 'Alabama-Birmingham' 'Northern Iowa'
 'Tulane' 'Georgia State' 'Sioux Falls' 'Missouri Western' 'Grambling'
 'Bucknell' 'Southern Arkansas' 'Southeast Missouri' 'Prairie View'
 'Alabama State' 'Western Illinois' 'Murray State' 'Charleston, W. Va.'
 'Tarleton State' 'Elon' 'Bowling Green' 'North Carolina A&amp;T' 'Idaho'
 'Malone' 'Lindenwood' 'Assumption' 'Stetson University'
 'Wayne State, Mich.' 'Findlay' 'Bryant' 'Princeton' 'Kutztown'
 'Bemidji State' 'Tusculum' 'Lenoir-Rhyne' 'Dayton' "St. John's, Minn."
 'Tulsa' 'Wagner' 'Missouri S&amp;T' 'Brown' 'Army' 'Norfolk State'
 'North Carolina at Pembroke' 'Berry' 'Eastern Kentucky' 'Miami, O.'
 'Coastal Carolina' 'Liberty' 'Fayetteville State' 'Sam Houston State'
 'Northwest Missouri State' 'Framingham State' 'West Florida'
 'Idaho State' 'Texas A&amp;M-Commerce' 'Florida A&amp;M']

 ------------------------------------------------------------------------------------------
position : ['QB' 'T' 'TE' 'WR' 'DE' 'NT' 'SS' 'FS' 'G' 'OLB' 'DT' 'CB' 'RB' 'C' 'ILB'
 'MLB' 'FB' 'DB' 'LB']

 ------------------------------------------------------------------------------------------
displayName : ['Tom Brady' 'Jason Peters' 'Aaron Rodgers' ... 'Prince Emili'
 "Ja'Marcus Ingram" 'C.J. Brewer']

 ------------------------------------------------------------------------------------------

### Data Cleaning

In [58]:


player_df["birthDate"] = pd.to_datetime(player_df["birthDate"], errors = "coerce")

In [59]:
### The datatype is changed
player_df.dtypes

nflId                   int64
height                 object
weight                  int64
birthDate      datetime64[ns]
collegeName            object
position               object
displayName            object
dtype: object

In [100]:
def Impute_birthDate(df):
    
    ### Changing the datatype of "birthDate"
    player_df.birthDate = pd.to_datetime(player_df["birthDate"], errors = "coerce")
    
    ### Imputing the null values
    birthdate_median = player_df.birthDate.median()
    
    player_df["birthDate"].fillna(birthdate_median, inplace = True)
    ### Cross validating the datatype is changed to "datetime" format
    print("The data type of Date field is:",player_df.birthDate.dtypes)
    
    return df.head()

Impute_birthDate(player_df)

The data type of Date field is: datetime64[ns]

   nflId height  weight  birthDate     collegeName position     displayName
0  25511    6-4     225 1977-08-03        Michigan       QB       Tom Brady
1  29550    6-4     328 1982-01-22        Arkansas        T    Jason Peters
2  29851    6-2     225 1983-12-02      California       QB   Aaron Rodgers
3  30842    6-6     267 1984-05-19            UCLA       TE  Marcedes Lewis
4  33084    6-4     217 1985-05-17  Boston College       QB       Matt Ryan

In [101]:
player_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nflId        1697 non-null   int64
 1   height       1697 non-null   object
 2   weight       1697 non-null   int64
 3   birthDate    1697 non-null   datetime64[ns]
 4   collegeName  1697 non-null   object
 5   position     1697 non-null   object
 6   displayName  1697 non-null   object
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 92.9+ KB

In [104]:
player_df.birthDate.isnull().sum()

0